<!-- <div class="container">
  <div class="collapse navbar-collapse" id="navb">
    <ul class="navbar-nav mr-auto">

    </ul>

    <form class="form-inline my-2 my-lg-0">
      <a class="nav-link" href="javascript:void(0)" [routerLink]="['/signup']" routerLinkActive="">Signup</a>
      <a class="nav-link" href="javascript:void(0)" [routerLink]="['/login']" routerLinkActive="">Login</a>
    </form>
  </div>

  <router-outlet></router-outlet>
</div> -->

<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/signup" *ngIf="!currentstatus.status">Signup</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/login" *ngIf="!currentstatus.status">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="javascript:void(0)" (click)="logout()" *ngIf="currentstatus.status">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>